.component-title-jewelry {
  background-color: #94004f;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jewelry {
  padding: 70px 0;
  background-color: #f1f1f2;
}

.jewelry-container {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.jewelry-inner {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.jewelry-img {
  text-align: center;
}

.jewelry-img img {
  height: 15rem;
}

.jewelry-inner .jewelry-content {
  background-color: black;
  width: 100%;
  padding: 1rem;
  color: white;
  height: 100%;
}


.jewelry-btn {
  transition: position .3s ease-in;
}

.jewelry-btn:hover {
  position: relative;
  bottom: 4px;
}

@media screen and (max-width: 768px) {
  .jewelry-container {
    grid-template-columns: 1fr;
  }
}