.navbar-content {
  background-color: #ed017f;
}

.navbar-content h1:hover {
  color: blue;
}

@media screen and (max-width: 575px) {
  .d-none-x-sm {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-cart {
    display: block;
  }
}