.single-btn {
    width: 50%;
}

.single-img {
    width: 100%;
}

.singleproduct {
    padding: 69px 0;
}

@media screen and (max-width: 575px) {
    .single-btn {
        width: 100%;
    }

    .single-img {
        width: 80%;
    }
}